# =========== General ============
# ya se ajusto para ocultar achivos especificos y KEYs.
# ================================

# === Python & Entornos ===
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

# === Datos ===
# Permitir datos importantes
!data/extraida/
!data/procesada/
!data/pdf_originales/

# Opcional: ignorar basura dentro de data
data/**/*.tmp
data/**/*.log

# Ocultar todo en cuadernos
cuadernos/*

# Permitir el notebook específico
!cuadernos/metodologia.ipynb

# === Secretos ===
.env
.env.*
*.env

# === Config local ===
.vscode/
.idea/
poetry.toml

# === Outputs ===
*.log
*.out

# === Sistema ===
.DS_Store
Thumbs.db