# === Python & Entornos ===
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
poetry.lock
# Nota: poetry.lock usualmente se sube, pero si quieres 
# que otros usen estrictamente su Conda, puedes ignorarlo.

# === Datos (Privacidad y Cómputo) ===
# Ignoramos todo el contenido de data para no subir archivos pesados o sensibles


# Pero permitimos que las carpetas existan en el repo (opcional)
!data/.gitkeep

# === Jupyter Notebooks ===
cuadernos/.ipynb_checkpoints/

# === Configuración y Secretos ===
.env
.vscode/
poetry.toml

# === Archivos de salida comunes ===
